.food-menu {
    margin: 24px 0 0 0;

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-height: 575px;
        padding: 10px 10px;
        overflow-y: scroll;

        @media (max-width: 1064px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 24px;
        }

        @media (max-width: 860px) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 24px;
        }

        @media (max-width: 620px) {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }
    }
}