.button {
    width: 100px;
    height: 20px;
    outline: none;
    border: none;
    background: #EA7C69;
    color: #fff;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    border-radius: 8px;
    cursor: pointer;
}