.most-ordered-menu-item {
    display: flex;
    align-items: center;
    margin: 12px 0 12px 0;

    &:last-child {
        margin: 12px 0 0 0;
    }

    &__image {
        width: 56px;
        height: 56px;
        margin: 0 16px 0 0;
    }

    &__title {
        margin: 0 0 4px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #E0E6E9;
    }

    &__subtitle {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #ABBBC2;
    }


}