.most-type-of-order {
    width: 100%;
    max-width: 372px;
    height: 100%;
    position: relative;
    max-height: 355px;
    margin: 24px 0 0 0;
    background: #1f1d2b;
    border-radius: 2px;

    @media (max-width: 1200px) {
        max-width: 80px;
        overflow: hidden;
        padding: 0;

        &::after {
            content: "";
            position: absolute;
            width: inherit;
            height: 100%;
            background: #1f1d2b;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    @media (min-width: 767px) and (max-width: 1200px) {
        max-height: 402px;
    }

    @media (max-width: 767px) {
        max-width: 100%;
        &::after {
            content: none;
        }
    }

    &__header {
        width: 324px;
        padding: 24px 24px 16px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #393c49;

        @media (max-width: 767px) {
            width: auto;
        }
    }

    &__header_title {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;

        @media (min-width: 767px) and (max-width: 1200px) {
            position: absolute;
            z-index: 2;
            right: 0;
            text-align: center;
            top: 40px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 32px 40px 32px;
    }

    &__circle {
        width: 176px;
        height: 176px;
        transition: transform 1s linear;
        transform: rotate(1deg);

        &:hover {
            transform: rotate(180deg);
        }
    }
}
