.orders-item {
    margin: 24px 0 0 0;

    &__food {
        display: flex;
    }

    &__food_information {
        display: flex;
        align-items: center;
        width: 361px;
        height: 48px;
    }

    &__food_title {
        width: 140px;
        margin: 0 34px 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__food_subtitle {
        margin: 0;
        max-width: 140px;
        max-height: 18px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #FFFFFF;
        white-space: nowrap;
    }

    &__food_title_price {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #ABBBC2;
    }

    &__food_image {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    &__buttons {
        margin: 0 4px 0 0;
    }

    &__add, &__remove {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        background: #2D303E;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;

        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        &:hover, :focus {
            border: 1px solid rgb(255, 0, 0);
        }
    }

    &__add {
        margin: 0 0 2px 0;
    }

    &__current {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: #2D303E;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &__food_price {
        margin: 0 0 0 21px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        color: #FFFFFF;
    }

    &__note {
        margin: 10px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 361px;
        height: 48px;
    }

    &__note_input {
        width: 297px;
        height: 48px;
        padding: 0 0 0 14px;

        background: #2D303E;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #889898;
        outline: none;
    }

    &__note_button {
        width: 48px;
        height: 48px;
        cursor: pointer;

        &:hover, :focus {
            opacity: 0.7;
        }
    }
}