.confirmation {
    max-width: 361px;
    min-height: 100%;

    &__header {
        margin: 16px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #393C49;
    }

    &__header_title {
        color: #fff;
    }

    &__header_button {
        width: 48px;
        height: 48px;
        background: #EA7C69;
        border-radius: 8px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__line {
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &__items {
        overflow: hidden;
        width: 367px;
        min-height: 454px;
        max-height: 454px;
        border-bottom: 1px solid #393C49;

        &:hover,
        :focus {
            overflow-y: scroll;
        }

        &::-webkit-scrollbar-button {
            width: 5px;
            height: 0px
        }

        &::-webkit-scrollbar-track {
            background-color: #ecedee
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color: #6dc0c8;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #56999f;
        }

        &::-webkit-resizer {
            width: 4px;
            height: 0px
        }

        &::-webkit-scrollbar {
            width: 2px;
        }
    }

    &__total {
        margin: 24px 0 0 0;
    }

    &__total_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 23px;

        &:first-child {
            margin: 0 0 16px 0;
        }
    }

    &__total_name,
    &__total_name {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: #ABBBC2;
    }

    &__total_price,
    &__total_price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
}