.order-report {
    background: #1F1D2B;
    border-radius: 8px;

    &__title {
        padding: 24px 24px 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &__menu_wrapper {
        padding: 0 24px 16px 24px;
        border-bottom: 1px solid #393C49;
    }

    &__menu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        padding: 0;
        margin: 0;

        @media (max-width: 1024px) {
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-column-gap: 0;
        }
    }

    &__menu_item {
        width: fit-content;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #FFFFFF;
        list-style-type: none;
    }
}